.section {

    height: 700px;

    width: 800px;

    background-color: grey;
}

.div1 {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    width: 700px;
    background-color: aliceblue;
    padding-top: 1px;
margin-right: 40px;
    margin-left: 40px;
    margin-top: 50px;

    

    
}

#iPhone {
    list-style: none;
    display: flex;
    align-items: center;
    
}

.priQty {

    display: flex;
    list-style: none;
    justify-content:f;
gap: 7px    ;
      align-items: center;
    flex-direction:row;
    
}
.div2 {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    width: 720px;
    background-color: aliceblue;
    padding-top: 1px;

    margin-left: 40px;
    margin-top: 50px;
  
    
}

#iPhone2 {
    list-style: none;
    display: flex;
    align-items: center;
}

.priQty2 {

    display: flex;
    list-style: none;
    justify-content:f;
gap: 7px    ;
      align-items: center;
    flex-direction:row;
}

#put {

    width: 30px;
}

.finalP {

    display: flex;

    justify-content: space-around;

    height: 200px;
    width: 720px;
    background-color: aliceblue;

    margin-top: 25px;
    margin-left: 40px;
}

.pro , .qty {

    list-style: none;
}